---
interface Props {
  section: string;
  classList?: string;
  rotate?: boolean;
  invert?: boolean;
}

const { section, classList, rotate, invert } = Astro.props;

const background = invert ? "bg-accent" : "bg-background";
const color = invert ? "text-background" : "text-accent";
---

<style>
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in-up 1s ease-in-out forwards;
    animation-delay: 2s;
  }
</style>

<button
  class=`z-20 absolute h-4 bottom-0 transition-all opacity-0 translate-y-4 absolute animate-fade-in w-full ${background}`
  onclick=`document.getElementById('${section}').scrollIntoView({ behavior: 'smooth' });`
  style=`cursor: url('${invert?"/assets/cursor.svg":"/assets/cursor_inverted.svg"}'), auto;`
>
</button>
<button
  class=`h-12 z-20 w-12 rounded-full transition-all opacity-0 translate-y-4 absolute -bottom-2 animate-fade-in ${background} ${color} ${classList}`
  onclick=`document.getElementById('${section}').scrollIntoView({ behavior: 'smooth' });`
  style=`cursor: url('${invert?"/assets/cursor.svg":"/assets/cursor_inverted.svg"}'), auto;`
>
  <i class=`fa-solid fa-lg fa-angles-${rotate?"up":"down"}`></i>
</button>
